
.none-message {
    color: red;
}
h2,
.none-message {
    border: 2px solid #FF5722;
    padding: 20px;
    margin: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #333;
    color: red;
}
h2{
    color: #22ffa3;
}