<!-- 
<div>
  <button (click)="showMessage()" type="button">Show Messages</button>
  <button (click)="hideMessage()">Hide Messages</button>
</div>
<div *ngIf="showMessage && messsageList">
  <h1>{{messsageList}}</h1>
</div>

<div>
  <input [(ngModel)]="newMessage" type="text" placeholder="Type a message">
  <button (click)="sendMessage()">Push a Message</button>
</div> -->


<div class="message-container">
  <div class="message-controls">
    <button type="button" class="btn btn-primary" (click)="showMessage()">Show Messages</button>
    <button type="button" class="btn btn-secondary" (click)="hideMessage()">Hide Messages</button>
  </div>
  <div *ngIf="showMessage && messsageList" class="message-list">
    <h1 class="message-title">{{ messsageList }}</h1>
  </div>
  <div class="message-input">
    <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="newMessage">
    <button type="button" class="btn btn-success" (click)="sendMessage()">Push a Message</button>
  </div>
</div>



<app-add-message></app-add-message>
<app-display-messages></app-display-messages>
