
<div class="spinner-container" *ngIf="!ok">
  <div class="spinner"></div>
</div>

<div class="container" *ngIf="ok">
  <h3 class="title text-center">
    {{ 'TITLE' | translate}}
  </h3>
  <div class="faq-container" >
    <div *ngFor="let faq of 'FAQS'| translate; let i = index" class="faq-item">
      <div class="faq-question" (click)="toggleFAQ(i)">
        <h3>{{ faq.QUESTION | translate}}</h3>
      </div>
      <div *ngIf="isOpen.has('Q' + i) && isOpen.get('Q' + i)" class="faq-answer">
        <p>{{ faq.ANSWER | translate}}</p>
      </div>
    </div>
  </div>
</div>

