<!-- <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search Products" [formControl]="searchControl">
    </mat-form-field>
  
    <div class="product-list" *ngIf="products.length">
      <mat-card *ngFor="let product of products" class="product-card">
        <img mat-card-image [src]="product.image" alt="{{product.title}}">
        <mat-card-content>
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
          <h4>{{ product.price | currency }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
    <p *ngIf="!products.length && searchControl.value">No products found.</p>
  </div>
  


   -->

<!-- <form [formGroup]="coolForm">
  <input formControlName="search" 
  placeholder="Search Spotify artist" 
  />
</form>

<div *ngFor="let artist of artists$">
  {{ artist.title }}
</div> -->
